* {
    margin: 0;
    padding: 0;
}

body {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    margin: 0;
    background-color: white; /* Set the background color if you want */
}

.sticky {
    background-color: aqua;
    width: 200px;
    height: 200px;
    position: sticky;
    top:300px;
    float: right;
    
}
.long-p {
    height: 2000px;
}
.inline {
    display: inline;
}
.card {
    position: fixed;
    /* display: block;
    justify-content: space-between;
    align-items: center;
    flex-direction:row; Make sure the items are aligned in a row */
    top:180px;
    left:450px;
    display: block;
    width: 900px;
    height: auto;
    background-color: black;
    padding: 20px;
    box-sizing: border-box;
    animation: replace 1.5s ease-out;
}

.left, .right {
    display: inline-block;
    color: white; /* Set the text color to white to contrast the black background */
    height:;
    margin: 10px;
    padding: 0px;
}

.canvas {
    display: inline-block;
    border: 2px solid red;
    padding: 0px;
    
}

h1 {
    border: 2px solid blue;
    /* width:auto;
    height: auto; */
    text-align: center;
    font-size:100px;
    animation: color-change 10s; 
    animation-direction: alternate-reverse;
    animation-timing-function:ease-in-out;
    animation-iteration-count: infinite;
}

.circle {
    width: 50px;
    height: 50px;
    animation-name: stretch;
    background-color: red;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
    z-index: 999;
}

@keyframes color-change {
    from {
        color: aqua;
    }

    50% {
        color: blueviolet;
    }

    to {
        color: crimson;
    }
}

@keyframes stretch {
    0% {
      transform: scale(.3);
      background-color: red;
      border-radius: 100%;
      transform: rotate(0deg);
    }
    50% {
      background-color: orange;
    }
    100% {
      transform: scale(1.5);
      background-color: yellow;
      transform: rotate(360deg);
    }
  }

  @keyframes replace {
    from {
        opacity: 0%;
        transform: translateY(50px);
    }
    90% {
        transform: translateY(-10px);
    }
    to {
        opacity: 100%;
        transform: translateY(0px);
    }
  }